.first {
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: #ECE9E0;
    color: #656665;
    border: 16px solid #ECE9E0;
    border-radius: 20px;
}

th {
    font-size: 18px;
    padding: 10px;
}

td {
    background: rgba(225, 185, 65, 0.53);
    padding: 10px;
}